<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buza.group.api.dao.RoleMenuMapper">

    <sql id="Base_Column_List_Except_Password">
        USER_SEQ, OPENID, UNIONID, USERNAME, PASSWORD, ROLE_NO, ROLE, STATUS, USER_TYPE,
        REALNAME, COMPANY, COMPANY_TYPE, MOBILE_NO, EMAIL, SEX, BIRTHDAY, WECHAT, PROVINCE_CODE,
        CITY_CODE, DISTRICT_CODE, ADDRESS, QUESTION, ANSWER, IMAGE_PHOTO, OPTION01, OPTION02,
        OPTION03, OPTION04, OPTION05, CREATETIME, UPDATETIME
    </sql>

    <select id="selectSysUserByUserSeq" parameterType="java.lang.Integer" resultType="buza.group.api.model.UserInfoVo">
        select <include refid="Base_Column_List_Except_Password" />
        from    sys_user
        where   user_seq = #{userSeq}
    </select>

    <select id="selectSysUserByUsername" parameterType="java.lang.String" resultType="buza.group.api.entity.SysUser">
        select
        <include refid="Base_Column_List_Except_Password"/>
        from sys_user
        where USERNAME = #{username}
    </select>

    <select id="getSysUserListByRoleId" parameterType="java.lang.Integer" resultType="buza.group.api.entity.SysUser">
        SELECT <include refid="Base_Column_List_Except_Password"/>
        FROM    sys_user
        where   user_seq in (select user_seq from sys_user_role where role_id = #{roleId})
    </select>

    <select id="getSysUserListByMenuId" resultType="buza.group.api.entity.SysUser">
        SELECT 	DISTINCT T3.USERNAME
        FROM 	SYS_USER_ROLE T1
                    LEFT OUTER JOIN SYS_ROLE_MENU T2 ON T1.ROLE_ID = T2.ROLE_ID
                    LEFT OUTER JOIN SYS_USER T3 ON T1.USER_SEQ = T3.USER_SEQ
        WHERE 	T2.MENU_ID = #{menuId}
    </select>

    <select id="getNavMenuIdsByUserSeq" resultType="java.lang.Integer">
        <![CDATA[
        SELECT 	DISTINCT T1.MENU_ID
        FROM 	sys_role_menu T1
                    LEFT OUTER JOIN sys_user_role T2 ON T1.ROLE_ID = T2.ROLE_ID
        WHERE	T2.USER_SEQ = #{userSeq}
        ]]>
    </select>

    <select id="getSysRoleListByUserSeq" parameterType="java.lang.Integer" resultType="buza.group.api.entity.SysRole">
        <![CDATA[
        SELECT  ID, NAME, CODE, REMARK,
                date_format(CREATETIME, '%Y-%m-%d') AS CREATETIME,
                date_format(UPDATETIME, '%Y-%m-%d') AS UPDATETIME
        FROM    SYS_ROLE T1
        WHERE   T1.ID IN (
                         SELECT ROLE_ID
                         FROM   SYS_USER_ROLE
                         WHERE  USER_SEQ = #{userSeq}
                         )
        ]]>
    </select>

    <select id="getMenuListByUserSeq" parameterType="java.lang.Integer" resultType="buza.group.api.entity.SysMenu">
        <![CDATA[
        SELECT  *
        FROM    SYS_MENU T
        WHERE   T.ID IN  (
                        SELECT  DISTINCT T2.MENU_ID
                        FROM    SYS_USER_ROLE T1
                                    LEFT OUTER JOIN SYS_ROLE_MENU T2
                                                    ON  T1.ROLE_ID = T2.ROLE_ID
                        WHERE   T1.USER_SEQ = #{userSeq}
                        )
        ]]>
    </select>

</mapper>
